.landing {
	display: grid;
	grid-template-columns: minmax(10vw, 1fr) minmax(0, 90rem) minmax(10vw, 1fr);
}

.container,
.navbar {
	display: flex;
	grid-column: 2;
}

.navbar {
	margin: 2.5em 0;
}

.left-container {
	text-align: left;
}

.left-container,
.right-container {
	flex: 1 1;
	box-sizing: border-box;
	padding: 4rem 0 2rem;
}

.landing-img {
	max-width: 100%;
}

.name {
	font-size: 10em;
	margin: 0;
	font-weight: 500;
	color: #1a1245;
}

.subheaders {
	font-weight: 300;
	color: rgba(26, 18, 69, 0.75);
}

@media only screen and (max-width: 400px) {
	.container {
		flex-direction: column;
	}

	.name {
		font-size: 5em;
	}

	.subheaders {
		font-size: 1.2em;
	}

	.left-container,
	.right-container {
		padding: 1em 0;
	}

	.navbar {
		margin: 1.5em 0;
	}
}
