@import '../../styles/text';

.landing {
	align-items: center;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	padding: 2rem;
	min-height: 100vh;
	justify-content: center;

	.left {
		display: flex;
		flex-direction: column;
		max-width: 100%;

		.name {
			font-weight: weight(regular);
			font-size: size($font-sizes-mobile, name);
		}

		.subheader {
			font-weight: weight(light);
			font-size: size($font-sizes-mobile, text);
			margin: 1.2rem 0;
			line-height: 1.25rem;
		}

		img {
			width: 1.5rem;
			vertical-align: bottom;
		}
	}

	.right {
		.landingImg {
			max-width: 100%;
		}
	}
}
