.button {
	background-color: #ffeed8;
	color: #1a1245;
	font-size: 1.2em;
	font-weight: 500;
	box-sizing: border-box;
	padding: 15px 40px;
	border-radius: 50px;
	margin: 1em;
	text-transform: uppercase;
	text-decoration: none;
	display: inline-block;
}
