.home-contact {
    display: flex;
    flex-flow: column nowrap;
    width: fit-content;
}

.home-contact .contact-email,
.home-contact .contact-linkedin,
.home-contact .contact-behance,
.home-contact .contact-github
{
    height: 20px;
    margin: 10px 0;
}