button.navbar-toggler, #navbarNavAltMarkup .navbar-nav {
    margin: 0 auto;
}

.navbar-nav {
    align-items: center;
}

nav.bg-light {
    background-color: transparent !important;
}

.navbar-nav #navbar-link-about,
.navbar-nav #navbar-link-skills,
.navbar-nav #navbar-link-experience,
.navbar-nav #navbar-link-projects,
.navbar-nav #navbar-link-contact{
    background: linear-gradient(to top, #FF0080 0%, #C822FF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0 1.5em;
}