$white: /*          */ #ffffff;
$black: /*          */ #000000;
$charcoal: /*       */ #2a2e43;
$charcoal-light: /* */ #454f63;
$grey: /*           */ #78849e;
$pink: /*           */ #ff4f9a;
$pale-green: /*     */ #5ad1a8;
$pale-yellow: /*    */ #fff9ec;
$yelp-red: /*       */ #ff523c;
