$white: /*          */ #ffffff;
$black: /*          */ #000000;
$charcoal: /*       */ #2a2e43;
$charcoal-light: /* */ #454f63;
$grey: /*           */ #78849e;
$pink: /*           */ #ff4f9a;
$orange: /*         */ #ff9057;
$pale-yellow: /*    */ #fcf8f0;
