.title-component {
    font-size: 3.5em;
    font-weight: 600;
}

.title-component span {
    color: #0582D5;
}

.title-component, .about-component .title-component {
    text-align: center;
}

@media only screen and (max-width: 350px) {
    .title-component {
        font-size: 3em;
        font-weight: 600;
    }
}