.sections {
	background-color: #ffeed8;
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 65%;
	margin: 2em auto;
	box-sizing: border-box;
	padding: 1.5em 0;
	border-radius: 100px;
}

.sections button {
	text-decoration: none;
	font-size: 1.5em;
	color: #1a1245;
	font-weight: 500;
	border: none;
	background-color: transparent;
	cursor: pointer;
}

.sections button:focus {
	outline: none;
}

.sections button.selected {
	background-color: white;
	box-sizing: border-box;
	padding: 10px 15px;
	border-radius: 50px;
}

@media only screen and (max-width: 1400px) {
	.sections a {
		font-size: 1.2em;
	}
}

@media only screen and (max-width: 1000px) {
	.sections {
		width: 80%;
		padding: 1.2em 0;
	}

	.sections button {
		font-size: 1em;
	}
}

@media only screen and (max-width: 700px) {
	/* TODO: Change text to icons when viewport is too small */
	.sections {
		width: 90%;
		padding: 1em 0;
	}

	.sections button {
		font-size: 13px;
	}
}
