@import '../../styles/colors';

.sections {
	display: flex;
	justify-content: space-between;
	background-color: $pale-yellow;
	width: 80%;
	border-radius: 0.8rem;
	box-sizing: border-box;
	margin: 1rem auto;
	padding: 1rem 1.5rem;

	button {
		background-color: transparent;
		border: none;
	}

	img {
	}
}
