<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gonzalo Reyes</title>
    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.42/css/uikit.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/main.css">

</head>

<body>
    <section class="main-home">
        <!--NAVBAR-->
        <div class="uk-position-relative">
            <img src="#" alt="">
            <div class="uk-position-top">
                <nav class="uk-navbar-container uk-navbar-transparent" uk-navbar>
                    <div class="uk-navbar-center">
                        <ul class="uk-navbar-nav">
                            <li><a href="#">ABOUT</a></li>
                            <li><a href="#">SKILLS</a></li>
                            <li><a href="#">EXPERIENCE</a></li>
                            <li><a href="#">PROJECTS</a></li>
                            <li><a href="#">CONTACT</a></li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        <div class="main-home-container">
            <!--GONZALO ICON-->
            <h1><span>G</span>R</h1>
            <h3>SOFTWARE DEVELOPER</h3>

        </div>
        <!--CONTACT INFO-->
        <div class="home-contact">
            <a href="#"><img src="/email.svg" alt="email-logo" width="40px" height="40px"/></a>
            <a href="mailto:gonzaloeladioreyes@gmail.com?Subject=Hi%20Gonzalo"><img src="/behance.svg" alt="behance-logo" width="40px" height="40px" /></a>
            <a href="https://github.com/gonzen2310"><img src="/github.svg" alt="github-logo" width="40px" height="40px"/></a>
            <a href="https://www.linkedin.com/in/gonzalo-eladio-reyes/"><img src="/linkedin.svg" alt="linkedin-logo" width="40px" height="40px"/></a>
        </div>
    </section>
    <section class="main-about">

    </section>
    <p>ijucbnduinb cjuisfb jsfjiun bjisfnjcsnf</p>
    <p>ijucbnduinb cjuisfb jsfjiun bjisfnjcsnf</p>
    <p>ijucbnduinb cjuisfb jsfjiun bjisfnjcsnf</p>
    <p>ijucbnduinb cjuisfb jsfjiun bjisfnjcsnf</p>
    <p>ijucbnduinb cjuisfb jsfjiun bjisfnjcsnf</p>
    <p>ijucbnduinb cjuisfb jsfjiun bjisfnjcsnf</p>
    <div class="footer">
        <div class="footer-left">
            <p>Website by Gonzen2310</p>
        </div>
        <div class="footer-right">
            <div>
                <a href="#"><img src="/email.svg" alt="email-logo" width="30px" height="30px"/></a>
                <a href="mailto:gonzaloeladioreyes@gmail.com?Subject=Hi%20Gonzalo"><img src="/behance.svg" alt="behance-logo" width="30px" height="30px" /></a>
                <a href="https://github.com/gonzen2310"><img src="/github.svg" alt="github-logo" width="30px" height="30px"/></a>
                <a href="https://www.linkedin.com/in/gonzalo-eladio-reyes/"><img src="/linkedin.svg" alt="linkedin-logo" width="30px" height="30px"/></a>
            </div>
        </div>

    </div>







<script src="/main.js"></script>
<!-- UIkit JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.42/js/uikit.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.42/js/uikit-icons.min.js"></script>
</body>
</html>