.single-project-card-component  {
    height: 25rem;
    overflow: hidden;
    position: relative;
    background: #ffffff;
    border-radius: 3px;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.15);
    position: relative;
    transition: box-shadow 0.25s ease-in;
}

.single-project-card-component .single-project-card-component--img {
    height: 15rem;
    overflow: hidden;
}

.single-project-card-component .single-project-card-component--img img {
    height: 100%;
    width: 100%; 
    object-fit: cover;
}

.single-project-card-component .single-project-card-component--content {
    box-sizing: border-box;
    padding: 5px 20px;
}