.navbar-component {
    display: flex;
    justify-content: space-between;
    grid-column: 2;
}

.navbar-component img {
    height: 20px;
    cursor: pointer;
    transition: all 0.2s;
}

.navbar-component img:nth-child(2):hover {
    height: 24px;
}