@import '../../../styles/colors';
@import '../../../styles/breakpoints';

.contactCard {
	height: 7rem;
	width: 7rem;
	background-color: $light-grey;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0.5rem 1rem;

	.textContent {
		font-size: 3.2rem;
		font-weight: bold;
	}

	.imgContent {
		height: 5.5rem;
	}

	@include media('>=small-tablet') {
		height: 6rem;
		width: 6rem;
		margin: 1rem 0.5rem;
	}

	@include media('>=tablet') {
		height: 7rem;
		width: 7rem;
		margin: 0 1rem;
	}
}
