@import '../../styles/text';
@import '../../styles/colors';
@import '../../styles/breakpoints';

.carousel {
	width: 100%;
	grid-area: 1 / 1 / 2 / 2;
	border-radius: 0.5rem;

	.content {
		margin: 4rem 2rem;
		min-height: 25rem;

		ul {
			list-style: disc;
		}

		.header {
			font-size: size($font-sizes-mobile, cardTitle);
			margin-bottom: 2rem;
			line-height: 2rem;

			span {
				font-weight: weight(bold);
			}
		}

		.bullet {
			line-height: 1.4rem;
			margin-bottom: 0.5rem;
			font-weight: weight(light);
			font-size: size($font-sizes-mobile, cardText);
		}
	}

	@include media('>=desktop') {
		.content {
			width: 70%;
			margin: 5rem auto;
			min-height: 30rem;
			display: flex;
			flex-direction: column;
			justify-content: center;

			ul {
				list-style: disc;
			}

			.header {
				font-size: size($font-sizes-large-desktop, cardTitle);
				margin-bottom: 2rem;

				span {
					font-weight: weight(bold);
				}
			}

			.bullet {
				line-height: 1.4rem;
				margin-bottom: 0.5rem;
				font-weight: weight(light);
				font-size: size($font-sizes-large-desktop, cardText);
			}
		}
	}
}

.next,
.prev {
	top: 1rem;
	position: absolute;
	display: flex;
	height: 2rem;
	width: 2rem;
	justify-content: center;
	align-items: center;
	user-select: none;
	cursor: pointer;
	z-index: 2;
	border-radius: 0.8rem;
	img {
		height: 1.1rem;
	}

	@include media('>=desktop') {
		top: calc(50% - 20px);
		height: 2.5rem;
		width: 2.5rem;
		border-radius: 0.8rem;
		img {
			height: 1.2rem;
		}
	}
}

.next {
	right: 1rem;
}

.prev {
	left: 1rem;
}
