.project-card-component {
    height: 35rem;
    width: 90%;
    margin: 4% auto;
    display: grid;
    grid-template-columns: 1fr 5fr 5fr;
    -webkit-box-shadow: 0px 10px 50px 0px rgba(0,0,0,0.16);
    -moz-box-shadow: 0px 10px 50px 0px rgba(0,0,0,0.16);
    box-shadow: 0px 10px 50px 0px rgba(0,0,0,0.16);
   
}

.project-card-component nav {
    background-color: #FAF9FC;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.project-card-component .project-card-component--nav div {
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 1.5em;
    font-weight: bold;
    color: rgba(0,0,0,0.3);
}

.project-card-component .project-card-component--nav div:hover {
    cursor: pointer;
}

.project-card-component .project-card-component--image__one {
    background-image: linear-gradient(to top, #FF547E 0%, #FFB199 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-card-component .project-card-component--image__two {
    background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}
.project-card-component .project-card-component--image__three {
    background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}


.project-card-component .project-card-component--image__one img,
.project-card-component .project-card-component--image__two img,
.project-card-component .project-card-component--image__three img{
    margin: 0 auto;
    height: 19em;
}

.project-card-component .project-card-component--description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    margin: 0 auto;
}

.project-card-component .project-card-component--description h1 {
    margin: 0;
    font-size: 3em;
    font-weight: 500;
}

.project-card-component--description p {
    line-height: 20px;
    text-align: justify;
}

.project-card-component .project-card-component--description-more {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.project-card-component .project-card-component--nav .project-card-component--nav--checked {
    transition: all 0.5s;
    color: #0582D5;
}

.project-card-component .project-card-component--description-more > a {
    border: #0582D5 1px solid;
    display: inline-block;
    padding: 0.5em 2em;
    border-radius: 5px;
    text-decoration: none;
    color: #0582D5;
    transition: all 0.5s;
}

.project-card-component .project-card-component--description-more > a:hover {
    background-color: #0582D5;
    color: #FFFFFF;
}

.project-card-component--description-more .project-card-component--description-more__img img {
    height: 30px;
}

.project-card-component--description-more .project-card-component--description-more__img img:hover {
    cursor: pointer;
}

.project-card-component--description-more .project-card-component--description-more__img  #ic_github{
    margin-right: 1.5em;
}

@media only screen and (max-width: 900px) {
    .project-card-component nav {
        flex-direction: row;
        border-radius: 10px 10px 0 0;
    }

    .project-card-component {
        grid-template-columns: 1fr;
        width: 100%;
        height: auto;
        border-radius: 10px;
    }

    .project-card-component .project-card-component--nav div {
        box-sizing: border-box;
        padding: 25px;
    }

    .project-card-component .project-card-component--image__one ,
    .project-card-component .project-card-component--image__two ,
    .project-card-component .project-card-component--image__three {
        border-radius: 0 0 10px 10px;
        height: 300px;
    }

    .project-card-component .project-card-component--image__one img,
    .project-card-component .project-card-component--image__two img,
    .project-card-component .project-card-component--image__three img{
        width: 95%;
    }

    .project-card-component .project-card-component--description {
        width: 85%;
        margin-top: 20px;
        margin-bottom: 20px;
    }


}