.project-card-component {
    height: 35rem;
    width: 90%;
    margin: 4% auto;
    display: grid;
    grid-template-columns: 1fr 5fr 5fr;
    -webkit-box-shadow: 0px 10px 50px 0px rgba(0,0,0,0.16);
    -moz-box-shadow: 0px 10px 50px 0px rgba(0,0,0,0.16);
    box-shadow: 0px 10px 50px 0px rgba(0,0,0,0.16);
}

.project-card-component nav {
    background-color: #FAF9FC;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.project-card-component .project-card-component--nav div {
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 1.5em;
    font-weight: bold;
    color: rgba(0,0,0,0.3);
}

.project-card-component .project-card-component--nav div:hover {
    cursor: pointer;
}

.project-card-component .project-card-component--image {
    background-image: linear-gradient(to top, #FF547E 0%, #FFB199 100%);
    display: flex;
}

.project-card-component .project-card-component--image img {
    width: 80%;
    margin: 0 auto;
}

.project-card-component .project-card-component--description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    margin: 0 auto;
}

.project-card-component .project-card-component--description h1 {
    margin: 0;
    font-size: 3em;
    font-weight: 500;
}

.project-card-component--description p {
    text-align: justify;
}

.project-card-component .project-card-component--description-more {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.project-card-component .project-card-component--description-more a {
    border: #0582D5 1px solid;
    display: inline-block;
    padding: 0.5em 2em;
    border-radius: 5px;
    text-decoration: none;
    color: #0582D5;}

.project-card-component--description-more .project-card-component--description-more__img img {
    height: 30px;
}

.project-card-component--description-more .project-card-component--description-more__img img:hover {
    cursor: pointer;
}

.project-card-component--description-more .project-card-component--description-more__img img:first-child {
    margin-right: 1.5em;
}