.footer {
	display: grid;
	grid-template-columns: minmax(10vw, 1fr) minmax(0, 90rem) minmax(10vw, 1fr);
}

.footer-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	grid-column: 2;
}
