.touch-component {
    grid-column: 2;
}

.touch-component .touch-component--container {
    position: relative;
    grid-column: 2/3;
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-column-gap: 10em;
}

.touch-component .touch-component--image {
    align-self: center;
    justify-self: center;
    width: 100%;
}

.touch-component .touch-component--content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.touch-component .touch-component--content p {
    text-align: justify;
    line-height: 25px;
}