.home-title #title-gonzalo{
    color: #111B27;
}

.home-title #title-reyes{
    background: linear-gradient(to top, #FF0080 0%, #C822FF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/*
.home-title h1{
    display: flex;
}
.home-title #title-gonzalo{
    color: #111B27;
    text-shadow: 2px 2px #ff0000;
    position:relative;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
}

 */