.experience {
	display: grid;
	grid-template-columns: minmax(10vw, 1fr) minmax(0, 90rem) minmax(10vw, 1fr);
}

.experience-wrapper {
	grid-column: 2;
}

.experience-wrapper-cards {
	flex-wrap: wrap;
	display: grid;
	grid-template-columns: repeat(auto-fill, 17rem);
	grid-gap: 2.2rem;
	justify-content: center;
	margin: 0 auto;
}
