.home-component {
    background-size: 10%;
    background-image: linear-gradient(to right, rgba(209,209,209, 0.30) 1px, transparent 1px);
    display: grid;
    grid-column: 1/4;
    min-height: 100vh;
    padding: 2.83rem 0;
    box-sizing: border-box;
    grid-template-columns: minmax(10vw,1fr) minmax(0,var(--content-max-width)) minmax(10vw,1fr);
    grid-template-rows: auto 1fr;
}
.home-component .home-component--content {
    grid-column: 2;
    display: block;
}

.home-component .home-component--text {
    display: inline-block;
    position: relative;
    width: 40%;
}

.home-component .home-component--text h1{
    margin: 0;
    font-size: 10rem;
    font-weight: 500;
}

.home-component .home-component--text h3{
    font-weight: 400;
}

.home-component .home-component--image {
    float: right;
    width: 45%;
    min-height: auto;
    position: relative;
}

.home-component .home-component--image, .home-component .home-component--text  {
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

@media only screen and (max-width: 1300px) {
    .home-component .home-component--text h1{
        font-size: 9rem;
    }
}


@media only screen and (max-width: 1200px) {
    .home-component .home-component--text h1{
        font-size: 6.5rem;
    }

    .home-component .home-component--content {
        display: block;
    }
}


@media only screen and (max-width: 860px) {

    .home-component .home-component--image {
        width: 70%;
        float: none;
    }

    .home-component--content section {
        display: none;
    }

    .home-component .home-component--text h1{
        font-size: 6rem;
    }

    .home-component .home-component--text  {
        width: 100%;
        text-align: center;
    }

    .home-component .home-component--content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    


    .home-component .home-component--image, .home-component .home-component--text  {
        top: 0;
        -webkit-transform: none;
        -ms-transform: none;
        transform: none;
    }

    .home-component--content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
}

@media only screen and (max-width: 650px) {
    .home-component .home-component--text h1{
        font-size: 5.5rem;
    }
    
}

@media only screen and (max-width: 350px) {
    .home-component .home-component--text h1 {
        font-size: 5rem;
    }
}