.about-component {
    grid-column: 2/3;
}

.about-component .about-component--container {
    position: relative;
    grid-column: 2/3;
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-column-gap: 5em;
}

.about-component .about-component--image {
    align-self: center;
    justify-self: center;
    width: 100%;
}

.about-component .about-component--content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.about-component .about-component--content p {
    text-align: justify;
    line-height: 25px;
    margin-bottom: 30px;
}

.about-component .about-component--content .about-component--content__skills {
    display: flex;
    justify-content: center;
}

.about-component .about-component--content .about-component--content__skills--left {
    margin-right: 15%;
}

.about-component .about-component--content div p span a {
    color: #0582D5;
    font-weight: bold;
    text-decoration: none;
}

.about-component .about-component--content .about-component--content__skills span, .about-component .about-component--content div p span {
    margin-right: 5px;
    color: #0582D5;
}

.about-component .about-component--content .about-component--content__skills p{
    line-height: 20px;
    margin: 5px 0;
}


@media only screen and (max-width: 1450px) {
    .about-component .about-component--container {
        grid-template-columns: 1fr;
    }

    .about-component .about-component--image {
        width: 40%;
    }
    
}

@media only screen and (max-width: 500px) {
    .about-component .about-component--image {
        width: 100%;
    }
    
}